.hero {
    height: 600px;
    min-height: 600px;
    max-height: 600px;
    background-color: white;
    
    background-image: url( http://placekitten.com/1333/750 );
    background-repeat: no-repeat;
    background-size: cover;
}