<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./public/css/site.css?v=2">
    </head>
    <body role="document">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-head">
                    <a class="navbar-brand" href="/">Dig To Build</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#Features">Features</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row hero">
                <!-- Giant ass image here -->
            </div>
            <div class="row divider"></div>
            <div class="row bg-primary">
                <div class="col-md-6 col-md-offset-1">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <p>EXTERMINATE! IT is the Doctor! Enemy of the Daleks! Are you my mummy?
                            EXTERMINATE! Time War Bring the Humans to me Time Lord Emperor of the
                            Daleks River Song Fantastic! EXTERMINATE! The Doctor Bow ties are cool.
                            Bring the Humans to me the oncoming storm Delete. Delete. Delete. Rory
                            the Roman The socks with holes, dummy! Hello sweetie! Captain Jack
                            Harkness Bad Wolf  EXTERMINATE! Fantastic! Bad Wolf MY VISION IS
                            IMPAIRED! River Song EXTERMINATE! Amy Pond I hereby invoke The Shadow
                            Proclamation! The Silence is Coming! Hey, who turned out the lights? RUN!
                            EXTERMINATE! Amy Pond It's bigger on the inside! Reverse the polarity
                            of the neutron flow Rude and not ginger Time War Cult of Skaro We are
                            Dalek The socks with holes, dummy! ninehundred  Geronimo MY VISION IS
                            IMPAIRED!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    We're digging
                                </li>
                                <li>
                                    Building
                                </li>
                                <li>
                                    Coding
                                </li>
                                <li>
                                    And just generally building coolness.
                                </li>
                                <li>
                                    EXTERMINATE!
                                </li>
                                <li>
                                    Sorry that was rude
                                </li>
                                <li>
                                    Alonzi`!
                                </li>
                                <li>
                                    I've always wanted to meet an Alonzo.
                                </li>
                                <li>
                                    That way I can say "Alonzi` Alonzo!"
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row divider divider-danger"></div>
            <div class="row bg-info">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-warning">
                        <div class="panel-body">
                            <p>The hardware is so strong and it self enhances growing exponentially
                                in a perpetual increase in it's ability to participate in a show of
                                power with other server hardware.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-warning">
                        <strong>So RAM</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="panel panel-warning">
                        <strong>Much Bits</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="panel panel-warning">
                        <strong>Many Speed</strong>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="./public/js/bootstrap.js"></script>
            <script src="./public/js/site.js"></script>
        </footer>
    </body>
</html>

<?php
/*
Flint
Hematite
Malachite
Turquoise
Copper
Gold
Silver
Cassiterite
Cornwall
Lead
Tin
Iron
Quartz
*/
?>