$yellow_glow: #e7b200;
$yellow_glow_depth: #e7b200 * 0.6;

$brown_dirt: #4d3624;
$brown_dirt_depth: $brown_dirt * 0.6;

$green_grass: #69a93f;
$green_grass_depth: $green_grass * 0.6;

$grey_stone: #79736f;
$grey_stone_depth: $grey_stone * 0.6;

$blue_crystal: #8dccff;
$blue_crystal_depth: $blue_crystal * 0.6;